deny from host
上記一行ですべてのアクセスを制限

<Files ~ "^\.(htaccess|htpasswd)$">

deny from all

</Files>


中に下記のもの

最下部に

order deny,allow

ファイル一覧の拒否

Options -Indexes


301リダイレクトを使った「WWWあり」と「WWWなし」の統一 

「wwwあり」に統一する場合

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^sample\.com
RewriteRule ^(.*)$ http://www.sample.com/$1 [R=301,L]

「wwwなし」に統一する場合

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.sample\.com
RewriteRule ^(.*)$ http://sample.com/$1 [R=301,L]



index.html正規化

間違えないようにコピペして、「sample.com」を自分のドメインに置き換えてください。
「￥（円マーク）」は、環境によっては「/（スラッシュ）」をひっくり返したバックスラッシュで表示されます。

index.html「あり・なし」のURL正規化  

  「http://www.exmample.com/」と「http://www.example.com/index.html」を正規化し、「http://www.exmample.com/」にそろえる時は、.htaccessに次のように記述します。



Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.example.com/$1 [R=301,L]


上記全まとめて
wwwあり

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^beacon-lab\.com
RewriteRule ^(.*)$ http://www.beacon-lab.com/$1 [R=301,L]
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.beacon-lab.com/$1 [R=301,L]
order deny,allow



上記全まとめて
wwwなし
<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.ghostripper\.co
RewriteRule ^(.*)$ http://ghostripper.co/$1 [R=301,L]
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://ghostripper.co/$1 [R=301,L]
order deny,allow



#フォントのcontent-typeの追加
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType image/svg+xml .svg
#htaccessの記述コンテンツの圧縮を有効そのまま使える
#ブラウザキャッシュの設定
ExpiresActive On
ExpiresByType text/css "access plus 1 weeks"
ExpiresByType image/gif "access plus 1 weeks"
ExpiresByType image/jpeg "access plus 1 weeks"
ExpiresByType image/png "access plus 1 weeks"
ExpiresByType application/javascript "access plus 1 weeks"
ExpiresByType application/x-javascript "access plus 1 weeks"
#フォント
ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
ExpiresByType application/x-font-ttf "access plus 1 year"
ExpiresByType application/x-font-opentype "access plus 1 year"
ExpiresByType application/x-font-woff "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
#圧縮の設定
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
#フォント圧縮
AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-opentype image/svg+xml


#WordPress関連

#WP-Config.php
<files wp-config.php>
order allow,deny
deny from all
</files>

#「wp-content/uploads」ディレクトリは、WordPressが利用する画像ディレクトリで、PHPの実行は必要ありません。
#「wp-content/uploads」ディレクトリに「.htaccess」を設置し、PHPの実行を防いでください。
<Files *.php>
deny from all
</Files>


#「wp-includes」ディレクトリはWordPressのロジック部分で、スクリプトがユーザーによってアクセスされることを想定されていない部分です。「.htaccess」で下記コードを追加し、スクリプトをブロックしてください。
# Block the include-only files.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>
 
# BEGIN WordPress
# ここに記述しない
 
# END WordPress