@charset "UTF-8";
/*.relatedArea {
    @include boxSet;
}
*/
/*パンくずスタイル*/
/* line 7, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb {
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%; }

/* line 18, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb li {
  float: left; }

/* line 22, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb a {
  padding: 0.7em 1em 0.7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd); }

/* line 33, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb li:first-child a {
  padding-left: 1em;
  border-radius: 5px 0 0 5px; }

/* line 38, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb a:hover {
  background: #fff; }

/* line 43, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb a:after,
.breadcrumb a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em; }

/* line 54, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb a:after {
  z-index: 2;
  border-left-color: #ddd; }

/* line 59, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb a:before {
  border-left-color: #ccc;
  right: -1.1em;
  z-index: 1; }

/* line 65, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb a:hover:after {
  border-left-color: #fff; }

/* line 70, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb .current,
.breadcrumb .current:hover {
  font-weight: bold;
  background: none; }

/* line 76, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.breadcrumb .current:after,
.breadcrumb .current:before {
  content: normal; }

/*パンくずスタイル終わり*/
/*汎用ボタン*/
/* line 83, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.btn a, .btn button, .btn input {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: 0;
  border: 0;
  display: inline-block;
  font-size: 14px;
  padding: 6px 16px;
  text-align: center; }

/* line 96, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.btn-color1 a, .btn-color1 button, .btn-color1 input {
  background-color: #DB5C16;
  color: #FFF; }

/* line 101, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.box-shadow1 {
  box-shadow: 0px 2px 0px #a4603b;
  -webkit-box-shadow: 0px 2px 0px #a4603b;
  -moz-box-shadow: 0px 2px 0px #a4603b;
  -ms-box-shadow: 0px 2px 0px #a4603b; }

/* line 107, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.btn-width-large {
  width: 300px; }

/* line 110, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.btn-width-middle {
  width: 200px; }

/* line 113, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.btn-width-small {
  width: 100px; }

/* line 116, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.input-width-large {
  width: 300px; }

/* line 119, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.input-width-middle {
  width: 200px; }

/* line 122, D:/Users/dropbox/Dropbox/template/seisaku/up/up/css/_layout.scss */
.input-width-small {
  width: 100px; }

/*汎用ボタン終わり*/

/*# sourceMappingURL=_layout.css.map */