@charset "utf-8";
@import "sass-common.scss";

.alignleft {
float: left;
}


.alignright {
float: right;
}

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
margin: 7px 14px 7px 0;
}

blockquote.alignright,
img.alignright {
margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
margin-top: 7px;
margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
padding-top: 17px;
width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
margin-bottom: 17px;
}

.wp-caption {
margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
display: block;
margin: 0;
}

.wp-caption {
color: #767676;
}

.wp-caption-text {
-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-size: 12px;
font-style: italic;
line-height: 1.5;
margin: 9px 0;
padding-right: 10px;
}

.wp-smiley {
border: 0;
margin-bottom: 0;
margin-top: 0;
padding: 0;
}

/* Assistive text */

.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: absolute;
}

.screen-reader-text:focus {
background-color: #f1f1f1;
border-radius: 3px;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
clip: auto;
color: #21759b;
display: block;
font-size: 14px;
font-weight: bold;
height: auto;
line-height: normal;
padding: 15px 23px 14px;
position: absolute;
left: 5px;
top: 5px;
text-decoration: none;
text-transform: none;
width: auto;
z-index: 100000; /* Above WP toolbar */
}

.hide {
display: none;
}

/* Clearing floats */

.footer-sidebar:before,
.footer-sidebar:after,
.hentry:before,
.hentry:after,
.slider-direction-nav:before,
.slider-direction-nav:after,
.contributor-info:before,
.contributor-info:after,
.search-box:before,
.search-box:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
content: "";
display: table;
}

.footer-sidebar:after,
.hentry:after,
.slider-direction-nav:after,
.contributor-info:after,
.search-box:after,
[class*="content"]:after,
[class*="site"]:after {
clear: both;
}

/* Genericons */

.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before,
.widget_twentyfourteen_ephemera .widget-title:before {
-webkit-font-smoothing: antialiased;
display: inline-block;
font: normal 16px/1 Genericons;
text-decoration: inherit;
vertical-align: text-bottom;
}

/* Separators */

.site-content span + .entry-date:before,
.full-size-link:before,
.parent-post-link:before,
span + .byline:before,
span + .comments-link:before,
span + .edit-link:before,
.widget_twentyfourteen_ephemera .entry-title:after {
content: "\0020\007c\0020";
}


/*
* WPエディタ用
*/
.content-edita .alignnone {
margin: 5px 20px 20px 0;
}

.content-edita .aligncenter, .content-edita .aligncenter {
display:block;
margin: 5px auto 5px auto;
}

.content-edita .alignright {
float:right;
margin: 5px 0 20px 20px;
}

.content-edita .alignleft {
float:left;
margin: 5px 20px 20px 0;
}

.content-edita .aligncenter {
display: block;
margin: 5px auto 5px auto;
}

.content-edita a img.alignright {
float:right;
margin: 5px 0 20px 20px;
}

.content-edita a img.alignnone {
margin: 5px 20px 20px 0;
}

.content-edita a img.alignleft {
float:left;
margin: 5px 20px 20px 0;
}

.content-edita a img.aligncenter {
display: block;
margin-left: auto;
margin-right: auto
}

.content-edita .wp-caption {
background: #fff;
border: 1px solid #f0f0f0;
max-width: 96%; /* Image does not overflow the content area */
padding: 5px 3px 10px;
text-align: center;
}

.content-edita .wp-caption.alignnone {
margin: 5px 20px 20px 0;
}

.content-edita .wp-caption.alignleft {
margin: 5px 20px 20px 0;
}

.content-edita .wp-caption.alignright {
margin: 5px 0 20px 20px;
}

.content-edita .wp-caption img {
border: 0 none;
height: auto;
margin:0;
max-width: 98.5%;
padding:0;
width: auto;
}

.content-edita .wp-caption p.wp-caption-text {
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}
.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after
.content-edita:after,.content-edita:after:before{
content: "";
display: table;
clear: both;
-moz-hyphens: auto;
word-wrap: break-word;
}

/*
* WPエディタ用
*/
.content-edita .alignnone {
margin: 5px 20px 20px 0;
}

.content-edita .aligncenter, .content-edita .aligncenter {
display:block;
margin: 5px auto 5px auto;
}

.content-edita .alignright {
float:right;
margin: 5px 0 20px 20px;
}

.content-edita .alignleft {
float:left;
margin: 5px 20px 20px 0;
}

.content-edita .aligncenter {
display: block;
margin: 5px auto 5px auto;
}

.content-edita a img.alignright {
float:right;
margin: 5px 0 20px 20px;
}

.content-edita a img.alignnone {
margin: 5px 20px 20px 0;
}

.content-edita a img.alignleft {
float:left;
margin: 5px 20px 20px 0;
}

.content-edita a img.aligncenter {
display: block;
margin-left: auto;
margin-right: auto
}

.content-edita .wp-caption {
background: #fff;
border: 1px solid #f0f0f0;
max-width: 96%; /* Image does not overflow the content area */
padding: 5px 3px 10px;
text-align: center;
}

.content-edita .wp-caption.alignnone {
margin: 5px 20px 20px 0;
}

.content-edita .wp-caption.alignleft {
margin: 5px 20px 20px 0;
}

.content-edita .wp-caption.alignright {
margin: 5px 0 20px 20px;
}

.content-edita .wp-caption img {
border: 0 none;
height: auto;
margin:0;
max-width: 98.5%;
padding:0;
width: auto;
}

.content-edita .wp-caption p.wp-caption-text {
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}
.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after
.content-edita:after,.content-edita:after:before{
content: "";
display: table;
clear: both;
-moz-hyphens: auto;
word-wrap: break-word;
}

.content-edita b, .content-edita strong {
    font-weight: bold !important;
}
.content-edita strong{
    font-weight: bold;
}
.content-edita ul,.content-edita ol{
    margin: 0 0 20px;
}
.content-edita ul li,.content-edita ol li{
    margin: 0 0 5px;
}
.content-edita ul, .content-edita ol {
    list-style: outside none disc;
}

.content-edita h2::before {
    background: #000000 none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 10px;
}
.content-edita h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-left: 18px;
    position: relative;
}

.content-edita h3:before {
    border-bottom: 4px solid #707070;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 6px;
    width: 16px;
}
.content-edita h3 {
    font-size: 16px !important;
    margin-bottom: 16px;
    padding-left: 24px;
    position: relative;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.content-edita dl {
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
}
.content-edita dt {
    background: #e1e1e1 none repeat scroll 0 0;
    font-weight: bold;
}
.content-edita dd {
    margin-bottom: 16px;
    padding: 16px;
}

.content-edita ul li, .content-edita ol li {
    color: #333;
    margin: 0 0 0 24px;
    padding: 0 0 13px;
}
.content-edita html .mceContentBody {
    font-size: 100%;
    max-width: 474px;
}

.content-edita body {
    color: #2b2b2b;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: baseline;
}


/**
 * 2.0 Headings
 * ----------------------------------------------------------------------------
 */

.content-edita h1,
.content-edita h2,
.content-edita h3,
.content-edita h4,
.content-edita h5,
.content-edita h6 {
    clear: both;
    font-weight: 700;
    margin: 36px 0 12px;
}

.content-edita h1 {
    font-size: 26px;
    line-height: 1.3846153846;
}

.content-edita h2 {
    font-size: 24px;
    line-height: 1;
}

.content-edita h3 {
    font-size: 22px;
    line-height: 1.0909090909;
}

.content-edita h4 {
    font-size: 20px;
    line-height: 1.2;
}

.content-edita h5 {
    font-size: 18px;
    line-height: 1.3333333333;
}

.content-edita h6 {
    font-size: 16px;
    line-height: 1.5;
}

.content-edita h1:first-child,
.content-edita h2:first-child,
.content-edita h3:first-child,
.content-edita h4:first-child,
.content-edita h5:first-child,
.content-edita h6:first-child {
    margin-top: 0;
}


/**
 * 3.0 Text Elements
 * ----------------------------------------------------------------------------
 */

.content-edita address {
    font-style: italic;
    margin-bottom: 24px;
}

.content-edita abbr[title] {
    border-bottom: 1px dotted #2b2b2b;
    cursor: help;
}

.content-edita b,
.content-edita strong {
    font-weight: 700;
}

.content-edita cite {
    border: 0;
}

.content-edita cite,
.content-edita dfn,
.content-edita em,
.content-edita i {
    font-style: italic;
}

.content-edita mark,
.content-edita ins {
    background: #fff9c0;
    border: 0;
    color: inherit;
    text-decoration: none;
}

.content-edita p {
    margin: 0 0 24px;
}

.content-edita code,
.content-edita kbd,
.content-edita tt,
.content-edita var,
.content-edita samp,
.content-edita pre {
    font-family: monospace, serif;
    font-size: 15px;
    line-height: 1.6;
}

.content-edita pre {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.content-edita blockquote,
.content-edita q {
    quotes: none;
}

.content-edita blockquote:before,
.content-edita blockquote:after,
.content-edita q:before,
.content-edita q:after {
    content: "";
    content: none;
}

.content-edita blockquote {
    color: #767676;
    font-size: 19px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2631578947;
    margin: 0 0 24px;
}

.content-edita blockquote cite,
.content-edita blockquote small {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.content-edita blockquote em,
.content-edita blockquote i,
.content-edita blockquote cite {
    font-style: normal;
}

.content-edita blockquote strong,
.content-edita blockquote b {
    font-weight: 400;
}

.content-edita small {
    font-size: smaller;
}

.content-edita big {
    font-size: 125%;
}

.content-edita sup,
.content-edita sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.content-edita sup {
    bottom: 1ex;
}

.content-edita sub {
    top: .5ex;
}

.content-edita dl {
    margin: 0 0 24px;
}

.content-edita dt {
    font-weight: bold;
}

.content-edita dd {
    margin: 0 0 24px;
}

.content-edita ul,
.content-edita ol {
    list-style: none;
    margin: 0 0 24px 20px;
    padding-left: 0;
}

.content-edita ul {
    list-style: disc;
}

.content-edita ol {
    list-style: decimal;
}

.content-edita li > ul,
.content-edita li > ol {
    margin: 0 0 0 20px;
}

.content-edita del {
    color: #767676;
}

.content-edita hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    height: 1px;
    margin-bottom: 23px;
}


/**
 * 4.0 Links
 * ----------------------------------------------------------------------------
 */

.content-edita a {
    color: #24890d;
    text-decoration: none;
}

.content-edita a:visited {
    color: #24890d;
}

.content-edita a:focus {
    outline: thin dotted;
}

.content-edita a:active,
.content-edita a:hover {
    color: #41a62a;
    outline: 0;
}


/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */

.content-edita .alignleft {
    float: left;
    margin: 7px 24px 7px 0;
}

.content-edita .alignright {
    float: right;
    margin: 7px 0 7px 24px;
}

.content-edita .aligncenter {
    clear: both;
    display: block;
    margin: 7px auto;
}

.content-edita blockquote.alignleft,
.content-edita blockquote.alignright {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 17px;
    width: 50%;
}

.content-edita blockquote.alignleft p,
.content-edita blockquote.alignright p {
    margin-bottom: 17px;
}


/**
 * 6.0 Tables
 * ----------------------------------------------------------------------------
 */

.content-edita .mceItemTable {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0 1px;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    line-height: 1.2857142857;
    margin-bottom: 24px;
    width: 100%;
}

.content-edita .mceItemTable th,
.content-edita .mceItemTable caption {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px 1px 0;
    font-weight: 700;
    padding: 8px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: baseline;
}

.content-edita .mceItemTable td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px 1px 0;
    font-family: Lato, sans-serif;
    font-size: 14px;
    padding: 8px;
    vertical-align: baseline;
}


/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */

.content-edita img {
    height: auto;
    max-width: 474px;
    vertical-align: middle;
}

.content-edita .wp-caption {
    background: transparent;
    border: none;
    color: #767676;
    margin: 0 0 24px 0;
    max-width: 474px;
    padding: 0;
    text-align: left;
}

.content-edita .html5-captions .wp-caption {
    padding: 0;
}

.content-edita .wp-caption.alignleft {
    margin: 7px 14px 7px 0;
}

.content-edita .html5-captions .wp-caption.alignleft {
    margin-right: 24px;
}

.content-edita .wp-caption.alignright {
    margin: 7px 0 7px 14px;
}

.content-edita .wp-caption.alignright img,
.content-edita .wp-caption.alignright .wp-caption-dd {
    padding-left: 10px;
}

.content-edita .html5-captions .wp-caption.alignright {
    margin-left: 24px;
}

.content-edita .html5-captions .wp-caption.alignright img,
.content-edita .html5-captions .wp-caption.alignright .wp-caption-dd {
    padding: 0;
}

.content-edita .wp-caption.aligncenter {
    margin: 7px auto;
}

.content-edita .wp-caption-dt {
    margin: 0;
}

.content-edita .wp-caption .wp-caption-text,
.content-edita .wp-caption-dd {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-style: italic;
    line-height: 1.5;
    margin: 9px 0;
    padding: 0 10px 0 0; /* Avoid the caption to overflow the width of the image because wp-caption has 10px wider width */
    text-align: left;
}

.content-edita .mceTemp + ul,
.content-edita .mceTemp + ol {
    list-style-position: inside;
}

/**
 * 8.0 Gallery
 * -----------------------------------------------------------------------------
 */

.content-edita .gallery .gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.content-edita .gallery-columns-1 .gallery-item {
    max-width: 100%;
    width: auto;
}

.content-edita .gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 14px);
    max-width:         calc(50% - 14px);
    width: auto;
}

.content-edita .gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 11px);
    max-width:         calc(33.3% - 11px);
    width: auto;
}

.content-edita .gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 9px);
    max-width:         calc(25% - 9px);
    width: auto;
}

.content-edita .gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 8px);
    max-width:         calc(20% - 8px);
    width: auto;
}

.content-edita .gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 7px);
    max-width:         calc(16.7% - 7px);
    width: auto;
}

.content-edita .gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 7px);
    max-width:         calc(14.28% - 7px);
    width: auto;
}

.content-edita .gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 6px);
    max-width:         calc(12.5% - 6px);
    width: auto;
}

.content-edita .gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 6px);
    max-width:         calc(11.1% - 6px);
    width: auto;
}

.content-edita .gallery-columns-1 .gallery-item:nth-of-type(1n),
.content-edita .gallery-columns-2 .gallery-item:nth-of-type(2n),
.content-edita .gallery-columns-3 .gallery-item:nth-of-type(3n),
.content-edita .gallery-columns-4 .gallery-item:nth-of-type(4n),
.content-edita .gallery-columns-5 .gallery-item:nth-of-type(5n),
.content-edita .gallery-columns-6 .gallery-item:nth-of-type(6n),
.content-edita .gallery-columns-7 .gallery-item:nth-of-type(7n),
.content-edita .gallery-columns-8 .gallery-item:nth-of-type(8n),
.content-edita .gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.content-edita .gallery-columns-1 .gallery-item:nth-of-type(1n),
.content-edita .gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.content-edita .gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.content-edita .gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.content-edita .gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.content-edita .gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.content-edita .gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.content-edita .gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.content-edita .gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
    margin-left: 12px; /* Compensate for the default negative margin on .gallery, which can't be changed. */
}

.content-edita .gallery .gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
}

.content-edita .gallery .gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.content-edita .gallery-item:hover .gallery-caption {
    opacity: 1;
}

.content-edita .gallery-columns-7 .gallery-caption,
.content-edita .gallery-columns-8 .gallery-caption,
.content-edita .gallery-columns-9 .gallery-caption {
    display: none;
}


/**
 * 9.0 Audio/Video
 * ----------------------------------------------------------------------------
 */

.content-edita .mejs-mediaelement,
.content-edita .mejs-container .mejs-controls {
    background: #000;
}

.content-edita .mejs-controls .mejs-time-rail .mejs-time-loaded,
.content-edita .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #fff;
}

.content-edita .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #24890d;
}

.content-edita .mejs-controls .mejs-time-rail .mejs-time-total,
.content-edita .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: rgba(255, 255, 255, .33);
}

.content-edita .mejs-controls .mejs-time-rail span,
.content-edita .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.content-edita .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    border-radius: 0;
}

.content-edita .mejs-overlay-loading {
    background: transparent;
}

.content-edita .mejs-overlay-button {
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.8);
    color: #000;
    height: 36px;
    margin-left: -24px;
    width: 48px;
}

.content-edita .mejs-overlay-button:before {
    -webkit-font-smoothing: antialiased;
    content: '\f452';
    display: inline-block;
    font: normal 32px/1.125 Genericons;
    position: absolute;
    top: 1px;
    left: 10px;
}

.content-edita .mejs-controls .mejs-button button:focus {
    outline: none;
}

.content-edita .mejs-controls .mejs-button button {
    -webkit-font-smoothing: antialiased;
    background: none;
    color: #fff;
    display: inline-block;
    font: normal 16px/1 Genericons;
}

.content-edita .mejs-playpause-button.mejs-play button:before {
    content: '\f452';
}

.content-edita .mejs-playpause-button.mejs-pause button:before {
    content: '\f448';
}

.content-edita .mejs-volume-button.mejs-mute button:before {
    content: '\f109';
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 0;
}

.content-edita .mejs-volume-button.mejs-unmute button:before {
    content: '\f109';
    left: 0;
    position: absolute;
    top: 0;
}

.content-edita .mejs-fullscreen-button button:before {
    content: '\f474';
}

.content-edita .mejs-fullscreen-button.mejs-unfullscreen button:before {
    content: '\f406';
}

.content-edita .mejs-overlay:hover .mejs-overlay-button {
    background-color: #24890d;
    color: #fff;
}

.content-edita .mejs-controls .mejs-button button:hover {
    color: #41a62a;
}


/**
 * 10.0 RTL
 * ----------------------------------------------------------------------------
 */

.content-edita html .mceContentBody.rtl {
    direction: rtl;
    unicode-bidi: embed;
}

.content-edita .rtl ol,
.content-edita .rtl ul {
    margin-left: 0;
    margin-right: 24px;
}

.content-edita .rtl .wp-caption,
.content-edita .rtl tr th {
    text-align: right;
}

.content-edita .rtl td {
    text-align: right;
}


/**
 *
 * ----------------------------------------------------------------------------
 */
.kekka-top p {
    color: #3f3f3f;
    float: left;
    width: 220px;
}
.kekka-top p span {
    color: #ef8f20;
    font-size: 36px;
    font-weight: bold;
}

.kekka-top .box-pagination-01 {
    display: inline-block;
    float: right;
    padding: 17px 0 0;
    text-align: right;
    width: 283px;
  clear: none;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/*wpページネーションスタート*/

.box-pagination-01 {
    clear:both;
    padding:20px 0;
    position:relative;
    font-size:11px;
    line-height:13px ;
    background:none;
    margin:10px 0 20px;
    vertical-align: middle;
}


.box-pagination-01 span.current {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    color: #e96809;
    display: inline-block;
    padding: 6px 7px;
}

.box-pagination-01 a, .box-pagination-01 span {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    padding:10px 19px;
    text-align: center;

}
.box-pagination-01 a:link, .box-pagination-01 a:visited {
    color: #474747;
}
.kekka-top .box-pagination-01 a, .kekka-top .box-pagination-01 span{
    margin: 4px;
}
.box-pagination-01 .nextpostslink {
    background-color: #ffe776;
}

.kekka-top .box-pagination-01 .nextpostslink:link, .kekka-top .box-pagination-01 .nextpostslink:visited {
    color:#634807;
}

.box-pagination-01 .nextpostslink:link, .box-pagination-01 .nextpostslink:visited {
    color: #fff;
}
.box-pagination-01 ul {
    text-align: center;

}
.box-pagination-01 ul span {

}
.box-pagination-01 ul li{
display: inline-block;
}
.box-pagination-01 span, .box-pagination-01 a{

}
.box-pagination-01 ul .pages {

}
.box-pagination-01 ul .current {

}
.box-pagination-01 ul .first {

}
.box-pagination-01 ul .last {

}
.box-pagination-01 ul .page {

}
.box-pagination-01 ul .larger {

}
.box-pagination-01 ul .smaller {

}
.box-pagination-01 ul .extend {

}
.box-pagination-01 ul .nextpostslink {

}
.box-pagination-01 ul .previouspostslink {

}
/*wpページネーション終わり*/

/*wpぱんくずはじまり*/
#breadcrumb {
    .breadcrumb-lists{
    }
    li{
        a{
            &:link, &:visited {
            color:#000000;
            }
            span{
                
            }
        }
    }
    .breadcrumb-home{
        a{
            &:link, &:visited {
            color:#000000;
            }
            span{
                
            }
        }
    }
    .current-crumb{
        a{
            &:link, &:visited {
            color:#000000;
            }
            span{
                
            }
        }
    }
}
/*wpぱんくず終わり*/

